extends ./master.jade

block title
	title AWAS :: Downloads

block addins
	script(src="/js/files.js" type="text/javascript")

block content
	h1 Downloads
	div.clearfix
	.table-responsive
		table#downloads.table.table-hover.sortable
			thead
				tr
					th.no-print(data-defaultsort='disabled') +
					th(data-defaultsort="asc") Name
					th(data-firstsort="asc") Letzte Änderung
					th Größe
					th User
					if admin
						th.no-print(data-defaultsort='disabled') *
			tbody.real
			each file in files.length ? files : [{name:""}]
				if file.name
					tr(id=file.id data-file=file)
						td.no-print
							a.btn.btn-primary.btn-sm(type="button" href="/files/"+file.name)
								span.glyphicon.glyphicon-download(aria-hidden="true" style="font-size:1.5em;")
						td= file.name_nice
						td(data-dateformat="DD.MM.YYYY HH:mm:ss")= file.created
						td= file.size
						td= file.user
						if admin
							td.no-print
								button.admin.btn.btn-danger.btn-sm(type="button" onclick="file_delete('"+file.id+"');")
									span.glyphicon.glyphicon-trash(aria-hidden="true")

								button.btn.btn-danger.btn-sm.hidden.delete_decide(type="button" onclick="file_delete_cancel('"+file.id+"');")
									span.glyphicon.glyphicon-remove(aria-hidden="true")

								button.btn.btn-success.btn-sm.hidden.delete_decide(type="button" onclick="file_delete_confirm('"+file.id+"');")
									span.glyphicon.glyphicon-ok(aria-hidden="true")
				else
					tr
						td(colspan="4") Keine Dateien vorhanden
