extends ./master.jade

block title
	title AWAS :: Downloads

block addins
	script(src="/js/files.js" type="text/javascript")

block content
	h1 Downloads
	div.clearfix
	p.well.no-print Hier finden Sie alle Aufnahmen zum Download.
	table#downloads.table.table-hover.sortable
		thead
			tr
				th.no-print(data-defaultsort='disabled') +
				th(data-defaultsort="asc") Name
				th(data-firstsort="asc") Erstellt
				th Größe
				if admin
					th.no-print(data-defaultsort='disabled') *
		tbody.real
		each file in files.length ? files : [{name:""}]
			if file.name
				tr(id=file.name data-file=file)
					td.no-print
						a.btn.btn-primary.btn-sm(type="button" href="/files/"+file.name) 
							span.glyphicon.glyphicon-download(aria-hidden="true" style="font-size:1.5em;")
					td= file.name
					td= file.created
					td= file.size
					if admin
						td.no-print
							button.admin.btn.btn-danger.btn-sm(type="button" onclick="file_delete('"+file.name+"');") 
								span.glyphicon.glyphicon-trash(aria-hidden="true")
								
							button.btn.btn-danger.btn-sm.hidden.delete_decide(type="button" onclick="file_delete_cancel('"+file.name+"');") 
								span.glyphicon.glyphicon-remove(aria-hidden="true")
								
							button.btn.btn-success.btn-sm.hidden.delete_decide(type="button" onclick="file_delete_confirm('"+file.name+"');") 
								span.glyphicon.glyphicon-ok(aria-hidden="true")
			else
				tr
					td(colspan="4") Keine Dateien vorhanden
